<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnDeprecation="true">
    <testsuites>
        <testsuite name="root">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="contracts">
            <directory>packages/contracts/tests</directory>
        </testsuite>
        <testsuite name="core">
            <directory>packages/core/tests</directory>
        </testsuite>
        <testsuite name="jsonapi">
            <directory>packages/jsonapi/tests</directory>
        </testsuite>
        <testsuite name="openapi">
            <directory>packages/openapi/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/contracts/src</directory>
            <directory>packages/core/src</directory>
            <directory>packages/jsonapi/src</directory>
            <directory>packages/openapi/src</directory>
        </include>
    </source>
</phpunit>
